body {
  font-family: "EB Garamond";
  font-size: 20px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  background-image: url("../img/kompas2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: auto;
}


#content {
  overflow: auto;
}

#menu {
  margin: 1%;
  opacity: 0.9;
}

li {
  display: inline;
  font-size: 22px;
  padding: 0.5em;
  text-align: center;
  padding-left:15px;
  padding-right:15px;
  letter-spacing: 0.5px;
  }
#menu a {
  color:black;
  text-decoration: none;
}
#menu a:hover {
  text-decoration: underline;
}


#menu {
  background-color: #efefef;
  padding: 0.5em 0;

}

h1.logo {
  font-size: 46px;
  font-weight: 700;
  text-align: center;
  color: rgb(0, 0, 0);
  text-transform: none;
  letter-spacing: 5px;
  margin-top: 0px;
  margin-left:1%;
  margin-right:1%;
  line-height: 85px;
  opacity:0.8;

  background-color: #efefef;
}


#logotype {
  background-repeat: no-repeat;
  background-size: cover;
}

#map_garrison {
  
  float:right;
  height: 80vh;
  width: 60vw;
  border-radius: 4px;
  margin-top:3rem;
  margin: 1%
}



#lista {
  float:left;
  width:20vw;
  padding: 1rem;
  margin-top: 2rem;
  background-color: gray;
  height: 67vh;
  overflow: auto;
  border-radius:4px;
}
#lista::-webkit-scrollbar{
  display:none;
}

#lista{
  -ms-overflow-style: none;
}


